.hamburger-button{
    display: none;
    position: relative;
    background-color: transparent;
    border: none;
    z-index: 400;
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--primary-txt-color);
    border-radius: 10px;
    transition: 0.3s ease;
}

.hamburger-button:hover{
    scale: 1.05;
}

.hamburger-menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

    transform: translateX(110%); /* move it off-screen to the right */
    transition: transform 0.3s ease; /* smooth slide */
}

.hamburger-menu.open {
    transform: translateX(0); /* slide it in */
}

.hamburger-menu-inner{
    height: 50vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg-color);
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px rgb(125, 125, 125);
    gap: 5vh;
    padding-top: 20%;
}

@media(min-width: 651px){   /*Remove hamburger menu*/
    .hamburger-menu{
        display: none;
    }
}

@media(max-width: 650px){   /*Introduce hamburger menu*/
    .hamburger-button{
        display: inline;
    }
}