.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

.hero-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 90vw;
}

.hero-main h1 {
    font-size: clamp(2.5rem, 6vw, 4rem);
    line-height: 1.4;
}

.hero-main p {
    font-size: clamp(1rem, 3vw, 1.4rem);
    color: var(--secondary-txt-color);
    line-height: 1.4;
}

.see-more {
    font-size: clamp(1.2rem, 4vw, 2rem);
    cursor: pointer;
}


@media (max-width: 800px) {
    .hero-main {
        gap: 15px;
    }
}
