.anchor{
    padding: 0 2px 2px 2px;
    color: var(--primary-txt-color);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.2s ease;
}

.anchor:hover{
    border-bottom: 2px solid var(--primary-txt-color);
    padding-left: 4px;
    padding-right: 4px;
}

.anchor:active{
    border-bottom: 2px solid var(--primary-txt-color);
}