.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
}

.hero-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.hero-main h1{
    font-size: 4rem;
}

.hero-main p{
    font-size: 1.4rem;
}